body {
  background-image: url(../images/more-leaves-on-green.png);
}

.wrapper {
  margin-left: 10px;
}

h1 {
  background-color: peru;
  color: white;
  padding: 20px;
  margin-right: 80%;
  margin-top: 10px;
  font-size: 30px;
}

.instructions {
  background-color: rgb(216, 195, 176);
  color: rgb(26, 114, 26);
  margin-right: 70%;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 70px;
  padding-left: 10px;
}

.info-row {
  display: flex;
}
.target {
  background-color: rgb(73, 155, 26);
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 200px;
  margin-right: 10px;
  flex-direction: row;
}

.score {
  background-color: rgb(117, 208, 214);
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 30px;
  padding-left: 10px;
}

.crystals {
  width: 150px;
  height: 150px;
}

.total_score {
  background-color: rgb(46, 158, 96);
  padding: 10px;
  margin-right: 85%;
  color: beige;
}

.bottom {
  background-color: rgb(46, 158, 96);
  padding: 10px;
  margin-right: 85%;
  padding-bottom: 100px;
  margin-bottom: 20px;
}

.points {
  font-size: 50px;
  color: beige;
}

.target-number {
  font-size: 50px;
  color: purple;
}
